<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: auto;
            text-align: center;
        }
    </style>
</head>

<body>
    <br><br><br>
    <img src="https://1.bp.blogspot.com/-1OsXLL6xuBY/X9ruJBYBKwI/AAAAAAABNns/Z_2nAmI6Q8kXh2T3aAIzZDVS1PPAqFw1wCLcBGAsYHQ/s1200/Load_Balaner.jpeg"><br><br><br><br><br><br>
    <div>
        <h1>Load Balancer Configured on {{ansible_facts['all_ipv4_addresses'][0]}} </h1>
    </div><br><br><br><br><br><br><br>


</body>

</html>
